<component name="ArtifactManager">
  <artifact type="exploded-war" name="Web">
    <output-path>$PROJECT_DIR$/out/artifacts/Web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="JavaWeb" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="JavaWeb/web/Web" />
    </root>
  </artifact>
</component>