
body {
    font-family: 'Nanum Gothic';
}

#login-form-wrapper {
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
}

#login-form {
    width: 350px;
    height: 400px;
    margin: auto;
    position: relative;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.yamu-textLogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#yamu-textLogo-login {
    width: 200px;
    height: 150px;
}

#login-message {
    width: 300px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}

#login-id {
    width: 300px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-askId {
    margin-left: 22px;
    display: inline-block;
    font-size: 12px;
    color: rgb(41, 128, 185);
    text-decoration: none;
}

#login-button-container {
    width: 87%;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 15px;
    justify-content: space-between;
}

#login-register-container {
    padding-top: 10px;
    width: 85px;
}

.login-buttons {
    border-radius: 4px;
}

#login-register {
    display: block;
    color: rgb(41, 128, 185);
    text-decoration: none;
}

#login-next-container {
    padding-top: 8px;
    width: 60px;
    background-color: rgb(41, 128, 185);
}

#login-next {
    margin-right: 25%;
    margin-left: 25%;
    display: block;
    color: rgba(255, 255, 255, 0.84);
    text-decoration: none;
}